body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #111;
  background-color: #eee;
}

p {
  line-height: 30px;
  text-align: center;
}

.small {
  font-size: 16px;
}

h1 {
  font-size: 1.3em;
  text-align: center;
  color: #444;
}

h1 a:hover {
  color: #84596B;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  color: #333;
}

a {
  color: #777;
  text-decoration: none;
}

li {
  margin: 10px;
  line-height: 32px;
}

a:hover, .current {
  color: #31708f;
}

hr {
  border-top: 0.25em solid #ddd;
}

#navigation {
  text-align: center;
  padding-bottom: 20px;
}

#avatar img {
  width: 120px;
  border-radius: 40px;

  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}

.icon img {
  width: 40px;
}

#navigation {
  margin: 20px 0 0 0;
  font-size: 40px;
}

/* Handle larger screens */
@media (min-width: 710px) {

  h1 {
    font-size: 1.5em;
  }

  #avatar img {
    width: 200px;
  }

  .icon img {
    width: 70px;
  }

  #navigation {
    margin: 40px 0 0 0;
    font-size: 70px;
  }
}
